body{
  background-image: url(https://img.freepik.com/vector-gratis/patron-controles-clasicos-videojuegos-estilo-linea-neon_24908-58917.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}